<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224023221880-0boa78ins7k73gdjbgkt2v79bh85i4p7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224023221880-0boa78ins7k73gdjbgkt2v79bh85i4p7</string>
	<key>API_KEY</key>
	<string>AIzaSyBjmw0CvvlONXD5y5dczBtqRaFMrPwDLjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>224023221880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tsa.tsaGram</string>
	<key>PROJECT_ID</key>
	<string>tsa-gram</string>
	<key>STORAGE_BUCKET</key>
	<string>tsa-gram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224023221880:ios:3586d05baf72b7782eff8d</string>
	<key>DATABASE_URL</key>
	<string>https://tsa-gram.firebaseio.com</string>
</dict>
</plist>